<div class="navbar navbar-material-deep-orange" style="padding: 20px;">
    <div class="navbar-header" style="margin-right: 30px;">
        <h2 class="tk-bigfish">the big board</h2>
    </div>
    <div class="social-contain">
        <div class="togglebutton togglebutton-material-blue-grey">
            <label class="lb">
                <i class="fa fa-facebook-official fa-2x"></i>
                <input class="ck" type="checkbox" checked=""><span class="toggle"></span>
            </label>
        </div>
        <div class="togglebutton togglebutton-material-blue-grey">
            <label class="lb">
                <i class="fa fa-instagram fa-2x"></i>
                <input class="ck" type="checkbox" checked=""><span class="toggle"></span>
            </label>
        </div>
        <div class="togglebutton togglebutton-material-blue-grey">
            <label class="lb">
                <i class="fa fa-twitter fa-2x"></i>
                <input class="ck" type="checkbox" checked=""><span class="toggle"></span>
            </label>
        </div>
        <div class="togglebutton togglebutton-material-blue-grey">
            <label class="lb">
                <i class="fa fa-chrome fa-2x"></i>
                <input class="ck" type="checkbox" checked=""><span class="toggle"></span>
            </label>
        </div>
    </div>
    <div class="celeb-select">
        <select class="form-control" placeholder="Your favorite pastry">
            <option value="Snoop Dog">Snoop Dog</option>
            <option value="Katy Perry">Katy Perry</option>
            <option value="Johnny Depp">Johnny Depp</option>
            <option value="Megan Fox">Megan Fox</option>
            <option value="Rihanna">Rihanna</option>
            <option value="Beyonce">Beyonce</option>
            <option value="Taylor Swift">Taylor Swift</option>
            <option value="Tom Cruise">Tom Cruise</option>
            <option value="Jay Z">Jay Z</option>
        </select>
    </div>
</div>
