<div class="navbar navbar-material-deep-orange" style="padding: 20px;">
    <div class="navbar-header" style="margin-right: 30px;">
        <h2 class="tk-bigfish">the big board</h2>
    </div>
    <div class="social-contain" class="inset switchdemoBasicUsage">
        <a href="#"><i id="insta" class="fa fa-instagram fa-2x"></i></a>
        <a href="#" ><i class="fa fa-twitter fa-2x" id="twit"></i></a>
        <a href="#" id="face"><i class="fa fa-facebook fa-2x"></i></a>
        <a href="#" id="chrme"><i class="fa fa-chrome fa-2x"></i></a>
        <a href="#" id="chrme"><i class="fa fa-soundcloud fa-2x"></i></a>
    </div>
    <!-- <div class="celeb-select">
        <select class="form-control">
            <option value="55e11b431ba8d6356ffb2b4e">Katy Perry</option>
             <option value="55e184da1ba8d6356ffb2b4f">Taylor Swift</option> 
        </select>
    </div> -->
</div>
